<!DOCTYPE HTML>
{% load i18n %}

<html lang="pt-br">

<head>
  <title>Cloud-Strong Security</title>
  <meta charset="utf-8" />
  <meta name="author" content="Cloud-Strong Security" />
  <meta name="description" content="Cloud-Strong Security - Soluções e Consultoria em Segurança da Informação" />
  <meta name="keywords" content="cloud-strong, segurança, web, pentest, teste, invasão" />
  <meta name="keywords" content="auditoria, consultoria, ti, soluções, informação, ddos, security" />
  <meta name="robots" content="index, follow" /> 
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" title="style" />
  <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
  <link rel="robots.txt" href="/static/robots.txt" />
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>

	<div id="fb-root"></div>
		<script>(function(d, s, id) {
  		var js, fjs = d.getElementsByTagName(s)[0];
  		if (d.getElementById(id)) return;
  		js = d.createElement(s); js.id = id;
  		js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=1408307939386531";
  		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>	

  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/blog">Cloud-<span class="logo_colour">Strong</span></a></h1>
          <su>Security</su>
        </div>
      </div>
     <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="/blog">Blog</a></li>
          <li><a href="/blog/archives">Arquivos</a></li>
          <li><a href="/blog/feed">Feed/RSS</a></li>
		  <li><a href="/solutions">Soluções</a></li>
          <li><a href="/blog/contato">Contate-nos</a></li>
          <li><a href="/blog/sobre">Sobre</a><li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
		<h2>Idiomas</h2><br>
		{% include "idiomas.html" %}
		<br>
		<h2><a href="/solutions">Serviços</a></h2>
		<ul>
		<li>Teste de invasão em redes e sistemas</li>
		<li>Teste de invasão em redes sem fio</li>
		<li>Auditoria de segurança em servidores web</li>
		<li>Teste de Negação de serviço distribuida DDOS</li>
		<li>Hardening de Servidores GNU/Linux e BSD</li>
		<li>Monitoramento de Servidores 24/7</li>
		<li>Consultoria de soluções em T.I. com software livre</li>
		<a href="/solutions">Saiba mais</a></p></lu>

		<h2>Links uteis</h2>
        <ul>
          <li><a href="https://www.djangoproject.com/">Django Project</a></li>
          <li><a href="http://www.python.org/">Python</a></li>
          <li><a href="http://www.w3.org/TR/html5/">HTML5 docs</a></li>
          <li><a href="http://www.w3.org/Style/CSS/">CSS3</a></li>
		  <li><a href="http://gunicorn.org/">Gunicorn</a></li>
		  <li><a href="http://nginx.org/">Nginx</a></li>
		  <li><a href="http://httpd.apache.org/">Apache2 httpd</a></li>
		  <li><a href="http://www.postgresql.org/">PostgreeSQL</a></li>
		  <li><a href="http://www.mysql.com">MySQL</a></li>
		  <li><a href="http://www.debian.org/">Debian</a></li>
		  <li><a href="http://www.kali.org/">Kali Linux</a></li>
		  <li><a href="http://www.openbsd.org/">OpenBSD</a></li>
		  <li><a href="http://www.offensive-security.com/">Offensive-Security</a></li>
		  <li><a href="http://www.exploit-db.com/">Exploit-db</a></li>
        </ul>
        <h2>Busca</h2><br>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="/static/images/search.png" alt="Search" title="Search" />
          </p>
		<div class="poweredby">
			<a href="https://www.djangoproject.com/">_____________</a>
		</div>
		<br>
		<h2>Social</h2><br>
			<br>
		<a href="https://twitter.com/CloudStrongSec" class="twitter-follow-button" data-show-count="false">Follow @CloudStrongSec</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script><br>
		<div class="fb-like-box" data-href="https://www.facebook.com/CloudStrong.Sec" data-width="200" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div><br>
	<br> <h2>Novo web site no ar</h4>
        <h5>Wed Sep 11 - 2013</h5>
        <p>Novo site no ar e eu como sempre muito feliz com meu trabalho.<br /><a href="#">Leia mais</a></p>
        <p></p>
        <h2>Novo front-end</h4>
        <h5>Wed Sep 11 - 2013</h5>
        <p>Novo front-end em HTML5 e CSS3 deu uma cara nova para a aplicação<br/><a href="#">Leia mais</a></p>
        </form>
      </div>
      <div id="content">
        <!-- insert the page content here -->
        
		
		<section>
		<article>


			<!-- blog post -->
			{% block content %}

			{% endblock %}
		</article> <!-- blog post ends -->

		</section>


        <h2>Compativilidade de Navegadores</h2>
        <p>Esta aplicação web foi testada nos seguintes navegadores</p>
        <ul>
          <li>Internet Explorer 8</li>
          <li>Internet Explorer 7</li>
          <li>FireFox 3.5</li>
          <li>Google Chrome 6</li>
          <li>Safari 4</li>
		  <li>Iceweasel 22.0<li>
		  <li>Sea Monkey</li>
        </ul>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
	<div class="about">
<strong>Jose Maria Micoli</strong> - <em>Programmer & Pentester</em>
</div>
<div class="social">
<a href="https://twitter.com/CloudStrongSec">Twitter</a> | 
<a href="https://www.facebook.com/CloudStrong.Sec">Facebook</a> |
<a href="#">LinkedIn</a> | 
<a href="https://github.com/JoseMariaMicoli">Github</a> 
</div>
    </div>
  </div>
</body>
</html>
