{% extends "base.html" %}

{% block content %}
<h2>Sobre</h2>

<p><h3>WebStrong Cyber Security - Soluções e Consultoria:</h3></p>
<p>
<div id="j">Somos uma empresa de soluções e consultoria de Teconologia da informação,
	prestando serviços na area de segurança da informação, com infraestrutura 
	cem por cento baseada em cima de cloud computing, assim ajudando ao meio
	ambiente sendo que com a virtualização os datacenters emitem sesenta por
	sento menos de gas carbono.</div>
<br>
<div id="j">A WebStrong entrou para o mercado com o objetivo de oferecer uma 
	gama de soluções que atingen desde a microempresa até as grandes
	corporações sendo que todas hoje em dia dependen em parte dos seus
	serviços em linea para atender seus clientes e/ou funcionarios 
	24/7 os 365 dias do ano.</div>

<br>
<div id="j">Se você esta procurando fazer um teste simples e ou apenas dar
	uma "fuçada" em seus serviços ou sistemas, nos não somos a empresa certa
	para você, a WebStrong se orgulha em apenas trabalhar com testes serios
	com foco na simulação realistica de ambientes reais de instrução</dib>
<div>
	Trabalhamos com nossos clientes para criar um perfil preciso do que a função primária do negócio é, de onde as ameaças provavelmente vieram, e qual é o real objetivo do teste. Isto é feito para garantir que o trabalho realizado atenda às suas necessidades e não apenas o que pode ser facilmente reproducido.</div>
<br>
<div>Uma vez que o acesso aos sistemas de destino é obtido, que é quando o verdadeiro trabalho começa a demonstrar qual seria o tamanho do projuizo causado em uma situação real.</div>
<br>
<div>Mais do que apenas o benefício de identificação de possíveis furos em suas defesas, nós nos esforçamos para dar-lhe a confiança de que, mesmo se você algum dia passar por alguma adversidade, você terá a experiência necessária para lidar adequadamente com a situação.</div>
<br>
<div>Sempre que necessário, podemos trabalhar com sua equipe de desenvolvimento, como parte de seu ciclo desenvolvimento do aplicativo para garantir que as questões de segurança são descobertas logo no início, onde elas são mais baratas para serem corrigidas.</div>
<br>
<div>Avaliação pós, trabalhamos com você para identificar o que poderia ter sido no lugar para ajudar a prevenir, identificar e recuperar-se de quaisquer ações maliciosas que poderiam ter sido tomadas contra a sua organização.</div>
<br>
<div>Se você precisa de um teste de invasão serio, queremos falar com você. Isto é o que você pode esperar:</div>
<br>
<div>Quando entrar em contato com a gente, você não vai ter um atendente de vendas em contato com você. Em vez disso, um dos nossos membros da equipe irá trabalhar com você para determinar se é um bom ajuste para o outro e caso não sejamos a solução que você esta procurando seremos sinceros desde o começo.</div>
<br>
<div>O trabalho será realizado e vamos ter a certeza de mantê-lo informado a cada passo do mesmo.</div>
<br>
<div>O relatório será sobre o que foi descoberto e sobre o que sugerimos para corrigir quaisquer problemas.</div>
<br>
<div>Nos iremos trabalhar com você para se certificar de que você compreende os resultados e tera o conhecimento necessário para tomar quaisquer ações que você pode precisar de tomar algum dia.</div>
<br>
<div>A WebStrong leva este trabalho a sério. Se você está pronto para um teste de penetração sério, contacte-nos.</div> 
	 </div>
<br><br>
</p>
{% endblock %}
