{% extends "base.html" %}

{% block content %}
<h2>Sobre</h2>

<p><h3>Cloud-Strong  Security - Soluções e Consultoria:</h3></p>
Cloud-Strong Security - Soluções e Consultoria:
<br>
 
<div>Somos uma empresa de soluções e consultoria de Tecnologia da Informação, prestando serviços na área de segurança, com infra-estrutura cem por cento baseada em cima de cloud computing, ajudando assim ao meio ambiente havida conta que com a virtualidade, os datacenters emitem sessenta por cento menos de gás carbono.</div>
 <br>
<div>A Cloud-Strong entrou para o mercado com o objetivo de oferecer uma gama de soluções que atingem desde microempresas até grandes corporações, sendo que todas hoje em dia dependem em parte dos serviços em línea para atender seus clientes e/ou funcionários 24/7 os 365 dias do ano.</div>
 <br>
<div>Se você está procurando fazer um teste simples ou apenas dar uma "fuçada" em seus serviços ou sistemas, nós não somos a empresa certa para você. A Cloud-Strong se orgulha de trabalhar apenas com testes sérios focados na simulação de ambientes reais de instrução.
Trabalhamos com nossos clientes para criar um perfil preciso de qual é a função primária do negócio, de onde as ameaças provavelmente vieram, e qual é o real objetivo do teste. Isto é feito para garantir que o serviço realizado atenda às suas reais necessidades e não apenas o que pode ser facilmente reproduzível.</div>
 <br>
<div>Uma vez que o acesso aos sistemas de destino é obtido, é quando o verdadeiro trabalho começa a demonstrar qual seria o tamanho do prejuízo causado numa situação real.</div>
 <br>
<div>Mais do que apenas o benefício de identificação de possíveis furos em suas defesas, nós nos esforçamos para dar-lhe a confiança que, mesmo se você algum dia passar por alguma adversidade, terá a experiência suficiente para lidar adequadamente com a situação.</div>
 <br>
<div>Sempre que necessário, podemos trabalhar com sua equipe como parte de seu ciclo de desenvolvimento do aplicativo, para garantir que as questões de segurança sejam descobertas logo no início, quando os custos para serem corrigidas são mais baratos.</div>
 <br>
<div>Após a avaliação, trabalhamos com você para identificar o que poderia ter sido feito no lugar para ajudar a prevenir, identificar e recuperar-se de qualquer ação maliciosa que poderia ter sido tomada contra a sua organização.</div>
 <br>
<div>Se você precisa de um teste de invasão serio, queremos falar com você. Isto é o que pode esperar:</div>
 <br>
<div>Quando entre em contato com a gente, você não terá um mero atendente de vendas. Em vez disso, um membro de nossa equipe irá trabalhar com você para determinar se é um bom ajuste para o outro e caso não sejamos a solução que você está procurando, seremos sinceros desde o começo.</div>
 <br>
<div>O trabalho será realizado e vamos ter a certeza de mantê-lo informado a cada passo do mesmo.</div>
 <br>
<div>O relatório será confeccionado sobre o que foi descoberto, e quais as nossas sugestões para corrigir qualquer problema.</div>
 <br>
<div>Nós iremos trabalhar com você para se certificar de que compreende os resultados e terá o conhecimento necessário para tomar quaisquer das ações que possa precisar.</div>
 <br>
<div>A Cloud-Strong leva este trabalho a sério. Se você está pronto para um teste de penetração profissional, contate-nos.</div>
<br>
{% endblock %}
