{% extends "base.html" %}

{% block content %}
<h2>Sobre</h2>

<p><h3>WebStrong Cyber Security - Soluções e Consultoria:</h3></p>
<p>
<div id="j">Somos uma empresa de soluções e consultoria de Teconologia da informação,
	prestando serviços na area de segurança da informação, com infraestrutura 
	cem por cento baseada em cima de cloud computing, assim ajudando ao meio
	ambiente sendo que com a virtualização os datacenters emitem sesenta por
	sento menos de gas carbono.</div>
<br>
<br>
<div id="j">A WebStrong entrou para o mercado com o objetivo de oferecer uma 
	gama de soluções que atingen desde a microempresa até as grandes
	corporações sendo que todas hoje em dia dependen em parte dos seus
	serviços em linea para atender seus clientes e/ou funcionarios 
	24/7 os 365 dias do ano.</div>

<br><br>
</p>
{% endblock %}
